---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic%20teller%20machine.json?key=<tomtomapi>&lat=39.752986&lon=-104.998399
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 4f52b7b0-e03f-48a8-9568-e92e20dcb5b3
      X-Apigee.target-Latency:
      - '158'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic teller machine","queryType":"NON_NEAR","queryTime":154,"numResults":10,"offset":0,"totalResults":94,"fuzzyLevel":2,"geoBias":{"lat":39.752986,"lon":-104.998399},"geobiasCountry":"US"},"results":[{"type":"POI","id":"1XR3--3jtYm6unBmkqeaQw","score":8.7476718891,"dist":43.215764,"info":"search:ta:840089002601478-US","poi":{"name":"Lynk
        Systems","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1634","streetName":"18th Street","municipalitySubdivision":"Downtown
        Denver","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","extendedPostalCode":"80202-1212","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1634 18th Street, Denver,
        CO 80202","localName":"Denver"},"position":{"lat":39.753359,"lon":-104.998541},"viewport":{"topLeftPoint":{"lat":39.75426,"lon":-104.99971},"btmRightPoint":{"lat":39.75246,"lon":-104.99737}},"entryPoints":[{"type":"main","position":{"lat":39.75356,"lon":-104.99827}},{"type":"main","position":{"lat":39.75359,"lon":-104.99831}}]},{"type":"POI","id":"LptaiHox1LzjSpAp5vgOGQ","score":8.7476671684,"dist":80.456,"info":"search:ta:840089002931103-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1601","streetName":"17th Street","municipalitySubdivision":"Downtown
        Denver","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","extendedPostalCode":"80202-1203","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1601 17th Street, Denver,
        CO 80202","localName":"Denver"},"position":{"lat":39.752335,"lon":-104.99881},"viewport":{"topLeftPoint":{"lat":39.75323,"lon":-104.99998},"btmRightPoint":{"lat":39.75144,"lon":-104.99764}},"entryPoints":[{"type":"main","position":{"lat":39.75223,"lon":-104.99894}}]},{"type":"POI","id":"zgJW5g80puy6cuGWC-ZJ9w","score":8.7476645458,"dist":91.927227,"info":"search:ta:840089000470945-US","poi":{"name":"Alpine
        Bank","phone":"+1 303-573-0709","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1777","streetName":"Wynkoop Street","municipalitySubdivision":"Union
        Station","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","extendedPostalCode":"80202-2197","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1777 Wynkoop Street, Denver,
        CO 80202","localName":"Denver"},"position":{"lat":39.753758,"lon":-104.998782},"viewport":{"topLeftPoint":{"lat":39.75466,"lon":-104.99995},"btmRightPoint":{"lat":39.75286,"lon":-104.99761}},"entryPoints":[{"type":"main","position":{"lat":39.75366,"lon":-104.99865}}]},{"type":"POI","id":"zcsa4xA1_S1gqU4aQ9kBPQ","score":8.7476603497,"dist":111.759689,"info":"search:ta:840089001498273-US","poi":{"name":"ATM
        at Citibank","brands":[{"name":"Citibank"}],"categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1755","streetName":"Blake Street","municipalitySubdivision":"Downtown
        Denver","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","extendedPostalCode":"80202-1221","coun[...]
